{% extends 'rabbitbase.html' %}

{% block title %}TaskRabbit - Create{% endblock %}
{% block content %}

<body onload="getListLen(1)">
    
    <div id="greet-title">
        <h3 class="head-word">CREATING</h3>
        <h1 class="head-word" style="text-transform:lowercase; margin-bottom: 0px;">button</h1>
</div>
<form id="edit-form-create" action="{% url 'rabbits_app:create_rabbit' %}" method="POST">
    <h4>NAME</h4>
    {% csrf_token %}
    {{form}}
    <div id="create-form">
        <h4>LINKS</h4>
        <input class="edit-text" type="url" name="site-1" placeholder="your link" required>
    </div>
    <div id="nav-wrapper">
        <a id="edit-back" href="{% url 'users_app:interface' %}">GO BACK</a>
        <button class="form-submit-btn" style="background-color: white; color: black;" type="submit">CREATE</button>
        <div id="add_inp">LINK +</div>
    </div>
</form>

</body>
{% endblock %}