{% extends 'rabbitbase.html' %}

{% block content %}
<h3>Rabbit create</h3>
<form action="{% url 'rabbits_app:create_rabbit' %}" method="POST">
{% csrf_token %}
    {{form}}
    <div>
        <input type="text" name="site-1" placeholder="website" required>
        <input type="text" name="site-2" placeholder="website">
        <input type="text" name="site-3" placeholder="website">
        <input type="text" name="site-4" placeholder="website">
        <input type="text" name="site-5" placeholder="website">
    </div>

    <button type="submit">Create</button>
</form>

<a href="{% url 'users_app:interface' %}">Go back</a>
{% endblock %}