{% extends 'base.html' %} 
{% block title %}TaskRabbit{% endblock %}
{% block content %}
{% load static %}

<div id="index-content"> 

    <div id="index-title">
        <div id="word-wrap">
            <h1>RABBIT</h1>
            <h1>TASK</h1>
        </div>
    </div>
    
    
    <a id="github-wrap" style="z-index: 2;" href="https://github.com/Gage-Lieble/TaskRabbit"><img src="{% static 'imgs/github.svg' %}" alt=""></a>
 
    
    {% if user.is_authenticated %}
    <div class="btn-wrap">
    <a class="index-btn" href="{% url 'users_app:interface' %}">INTERFACE</a>
    <a class="index-btn" href="{% url 'users_app:logout' %}">LOGOUT</a>
    <a class="index-btn" href="https://www.gagelieble.com/">PORTFOLIO</a>
    </div>
        
        {% else %}
    <div class="btn-wrap">
        <a class="index-btn" href="{% url 'users_app:interface' %}">GUEST LOGIN</a>
        <a class="index-btn" href="{% url 'users_app:signup' %}">SIGNUP</a>
        <a class="index-btn" href="{% url 'users_app:login' %}">LOGIN</a>
    </div>
    {% endif %}

</div>

    
{% endblock %}