{% extends 'base.html' %} 
{% block title %}TaskRabbit{% endblock %}
{% block content %}

<div id="index-wrap">


    <div id="inner-index">
        <div id="logo-wrap">
            <h1>Task Rabbit</h1>
        </div>
        
        <div id="index-btns">
            {% if user.is_authenticated %}
                <a href="{% url 'users_app:interface' %}">Interface</a>
                <a href="{% url 'users_app:logout' %}">Logout</a>
                <a href="https://www.gagelieble.com/">Portfolio</a>
                {% else %}
            
                <a href="{% url 'users_app:signup' %}">signup</a>
                <a href="{% url 'users_app:login' %}">login</a>
                <a href="{% url 'users_app:interface' %}">Guest login</a>
                
                {% endif %}
            </div>

    </div>
</div>
    
{% endblock %}